- name: Disable swap
  shell: |
    swapoff -a
    sed -i '/ swap / s/^/#/' /etc/fstab

- name: Load kernel modules
  copy:
    dest: /etc/modules-load.d/rke2.conf
    content: |
      overlay
      br_netfilter

- name: Sysctl settings
  copy:
    dest: /etc/sysctl.d/rke2.conf
    content: |
      net.bridge.bridge-nf-call-iptables=1
      net.ipv4.ip_forward=1

- name: Apply sysctl
  command: sysctl --system

# ---------- STORAGE ----------
- name: Format volume if needed
  shell: blkid /dev/vdb || mkfs.xfs -f /dev/vdb

- name: Mount /var/lib/rancher
  mount:
    path: /var/lib/rancher
    src: /dev/vdb
    fstype: xfs
    state: mounted

- name: Prepare kubelet directory
  file:
    path: /var/lib/rancher/kubelet
    state: directory

- name: Bind mount kubelet
  mount:
    path: /var/lib/kubelet
    src: /var/lib/rancher/kubelet
    fstype: none
    opts: bind
    state: mounted

# - name: Create symlink from /var/lib/kubelet to RKE2 data
#   file:
#     src: /var/lib/rancher/rke2/agent/kubelet
#     dest: /var/lib/kubelet
#     state: link
#     force: yes

- name: Ensure plugins_registry directory exists
  # This fixes the "hostPath type check failed" error
  file:
    path: /var/lib/rancher/rke2/agent/kubelet/plugins_registry
    state: directory
    mode: '0755'
    
# ---------- CERTIFICATES (NEW) ----------
- name: Ensure Kubernetes PKI directory exists
  file:
    path: /etc/kubernetes/pki
    state: directory
    mode: '0755'

- name: Copy OpenStack root CA to Kubernetes PKI
  copy:
    src: root.crt
    dest: /etc/kubernetes/pki/root.crt
    owner: root
    group: root
    mode: '0644'