apiVersion: v1
kind: Service
metadata:
  name: hubble-ui-lb
  namespace: kube-system
spec:
  type: LoadBalancer
  selector:
    k8s-app: hubble-ui
  ports:
  - name: http
    port: 80
    targetPort: 8081
    protocol: TCP
