- hosts: all
  become: true
  roles:
    - common

- hosts: masters[0]
  become: true
  roles:
    - rke2-bootstrap

- hosts: masters[0]
  become: true
  tasks:
    - wait_for:
        host: "{{ private_ip }}"
        port: 9345
        timeout: 900
    - include_role:
        name: rke2-bootstrap
        tasks_from: token.yml

- hosts: masters[1:]
  become: true
  serial: 1
  roles:
    - rke2-server

- hosts: workers
  become: true
  roles:
    - rke2-agent

- hosts: masters[0]
  become: true
  roles:
    - openstack-ccm
