- name: Create default Cinder StorageClass
  shell: |
    export KUBECONFIG=/etc/rancher/rke2/rke2.yaml

    cat <<EOF | kubectl apply -f -
    apiVersion: storage.k8s.io/v1
    kind: StorageClass
    metadata:
      name: cinder-sc
      annotations:
        storageclass.kubernetes.io/is-default-class: "true"
    provisioner: cinder.csi.openstack.org
    parameters:
      type: {{ default_volume_type }}
      fsType: xfs
    volumeBindingMode: WaitForFirstConsumer
    reclaimPolicy: Delete
    allowVolumeExpansion: true
    EOF
