# -------------------------
# Ensure kubectl exists
# -------------------------
- name: Install kubectl via snap
  command: snap install kubectl --classic
  args:
    creates: /snap/bin/kubectl

# -------------------------
# Wait for kubeconfig
# -------------------------
- name: Wait for kubeconfig
  wait_for:
    path: /etc/rancher/rke2/rke2.yaml
    timeout: 300

# -------------------------
# Wait for Kubernetes API
# -------------------------
- name: Wait for Kubernetes API
  shell: |
    export KUBECONFIG=/etc/rancher/rke2/rke2.yaml
    kubectl get nodes
  retries: 30
  delay: 10
  register: api
  until: api.rc == 0

- name: Copy OpenStack root CA certificate
  copy:
    src: root.crt
    dest: /usr/local/share/ca-certificates/root.crt
    owner: root
    group: root
    mode: '0644'

- name: Update CA trust store
  command: update-ca-certificates

- name: Ensure Kubernetes PKI directory exists
  file:
    path: /etc/kubernetes/pki
    state: directory
    mode: '0755'

- name: Copy OpenStack root CA certificate to Kubernetes PKI
  copy:
    src: root.crt
    dest: /etc/kubernetes/pki/root.crt
    owner: root
    group: root
    mode: '0644'

# -------------------------
# Create cloud.conf
# -------------------------
- name: Create cloud.conf
  copy:
    dest: /root/cloud.conf
    mode: '0600'
    content: |
      [Global]
      auth-url = {{ os_auth_url }}
      region = {{ os_region }}
      interface = {{ os_interface | default("internal") }}

      application-credential-id = {{ os_app_cred_id }}
      application-credential-secret = {{ os_app_cred_secret }}
      ca-file = /etc/kubernetes/pki/root.crt
      [LoadBalancer]
      use-octavia = true
      floating-network-id = {{ external_network_id }}

# -------------------------
# Create cloud-config secret
# -------------------------
- name: Create cloud-config secret
  shell: |
    kubectl -n kube-system create secret generic cloud-config \
      --from-file=cloud.conf=/root/cloud.conf \
      --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml

- name: Create OpenStack CA secret for CSI
  shell: |
    kubectl -n kube-system create secret generic openstack-ca \
      --from-file=root.crt=/etc/kubernetes/pki/root.crt \
      --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml
# -------------------------
# Deploy CCM RBAC
# -------------------------
- name: Deploy CCM RBAC
  shell: |
    kubectl apply -f https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/release-1.29/manifests/controller-manager/cloud-controller-manager-roles.yaml
    kubectl apply -f https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/release-1.29/manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml

# -------------------------
# Deploy CCM DaemonSet
# -------------------------
- name: Deploy CCM DaemonSet
  shell: |
    kubectl apply -f https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/release-1.29/manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml

# -------------------------
# Fix nodeSelector for RKE2
# -------------------------
- name: Fix nodeSelector for RKE2
  shell: |
    kubectl -n kube-system patch ds openstack-cloud-controller-manager \
      --type=json \
      -p='[{"op":"replace","path":"/spec/template/spec/nodeSelector/node-role.kubernetes.io~1control-plane","value":"true"}]'
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml
